<div class="admin-header">
  <div class="admin-header-left">
    <div class="admin-logo"></div>
  </div>
  <div class="admin-header-right">
    <div class="white-cross"></div>
    <div class="white-settings-button"></div>
  </div>
</div>
<div class="admin-bottom-section">

<div class="project-manager">
  <div class="sidebar-nav">
    <div class="admin-list">
      <h5 class="projects-header">Tasks</h5>
      <div class="admin" ng-repeat="admin in admins">
        <div class="anon-prof-pic">
          <img src="../img/default-profile.png" alt="" />
        </div>
        <h3>{{admin}} Tasks</h3>
      </div>
    </div>
    <div class="projects-list">
      <h5 class="projects-header">Projects</h5>
      <div ng-repeat="project in projects" class="project" ng-click="updateSelectedProject(project)" ui-sref="admin.project">
        <div class="grey-folder-pic">
          <img src="../img/grey-folder.png" alt="" />
        </div>
          <h4>{{project.projectName}}</h4>
      </div>
    </div>
    <div class="new-project-link">
      <!-- <div class="black-cross"></div> -->
      <h5> + Add Project</h5>
    </div>

  </div>
  <div class="project-viewer">
    <ui-view></ui-view>
    <!-- <div class="project-viewer-header">
      <div class="project-viewer-header-left">
        <h2>{{test}}</h2>
        <h6>Company Name</h6>
      </div>
      <select class="task-type-selector" name="">

      </select>
    </div>

    <div class="project-viewer-task">
      <div class="checkoff-circle"></div>
      <h3>Task text</h3>
      <h5>Date Created</h5>
      <h5>Assignee</h5>
    </div>
    <div class="new-class-link">
      <div class="plus-sign"></div>
      <h5>Add Task</h5>

    </div> -->
  </div>
</div>
</div>

<!-- <h3>PROJECTS</h3>
<ul>
  <li ng-repeat="project in projects">{{project.projectName}}
    <input ng-model="newTask" placeholder="New Task...">
    <button ng-click="addTask(project._id, newTask)" type="button" name="button">Add Task</button>
    <ul>
      <li ng-repeat="task in project.tasks">{{task.text}}</li>
    </ul>
  </li>
</ul>

<h2>Add a Project</h2>
<input ng-model="contactName" placeholder="Contact Name">
<input ng-model="contactEmail" placeholder="Contact Email">
<input ng-model="contactPhone" placeholder="Contact Phone">
<input ng-model="contactRole" placeholder="Contact Role">
<input ng-model="company" placeholder="Company Name">
<input ng-model="companyURLs" placeholder="Company URLs">
<input ng-model="projectDescription" placeholder="Project Description">
<input ng-model="goalDate" placeholder="Goal Date">

<input ng-model="projectName" placeholder="Project Name">

<button ng-click="addProject(contactName, contactEmail, contactPhone, contactRole, company, companyURLs, projectDescription, goalDate, projectName)" type="button" name="button">Add It!</button> -->
