<div class="main-header">
  <div class="ab-logo">
    <img src="../img/AllenBrothersLogoTransparent.png" alt="" />
  </div>
  <div class="main-menu-button">
    <div class="hamburger-line" id="hamburger-line-one"></div>
    <div class="hamburger-line" id="hamburger-line-two"></div>
    <div class="hamburger-line" id="hamburger-line-three"></div>
  </div>
</div>



<div class="main-jumbo">
  <div class="jumbo-content">
    <h1 class="jumbo-content-header">Leveraging <strong>technology</strong> to bring ideas to <strong>life</strong></h1>
    <div class="yellow-line-divider"><div class="tiny-yellow-circle"></div></div>
    <div class="sub-content"><h2 class="jumbo-content-subheader"><span style="color: grey">Make it </span>happen</h2><div class="typing-bar"></div></div>
  </div>
</div>


<div class="why-us-section">
  <div class="connecting-line"></div>
  <h2 class="why-us-header">WHY WORK WITH ALLENBROS?</h2>
  <h2 class="why-us-content">AllenBros was founded <strong>by</strong> students <strong>for</strong> students.</h3>
  <h4 class="why-us-subcontent">Work with individuals who are <strong>familiar</strong> with your <strong>concerns</strong> &amp; <strong>budget constraints</strong></h4>
  <a class="black-email-link" href="#">Chat with one of the Allen Brothers  ></a>
</div>


<div class="who-we-are-section">
  <!-- <div class="connecting-line"></div> -->
  <h2 class="who-we-are-header">WHO ARE WE?</h2>
  <div class="who-we-are-row">
    <div class="who-we-are-image" id="caleb-pic">
      <div class="yellow-image-overlay">
        <div class="github-logo logo" ng-href="https://github.com/caleb-allen"></div>
        <div class="linkedin-logo logo" ng-href="https://www.linkedin.com/in/caleb-allen-6205108a"></div>
      </div>
    </div>
    <div class="who-we-are-content">
      <h3>Caleb Allen</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="who-we-are-row">
    <div class="who-we-are-content">
      <h3>Jordan Allen</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="who-we-are-image" id="jordan-pic">
      <div class="yellow-image-overlay">
        <div class="github-logo logo" ng-href="https://github.com/gidgicken"></div>
        <div class="linkedin-logo logo" ng-href="https://www.linkedin.com/in/jordan-allen-b2959a38"></div>
      </div>
    </div>
  </div>
  <a class="white-email-link" href="#">Chat with one of the Allen Brothers  ></a>
</div>


<div class="what-we-can-do-section">
  <h2 class="what-we-can-do-header">WHAT CAN WE DO?</h2>
  <div class="logos-grid">
    <div class="knowledge-logo"><img src="https://avatars0.githubusercontent.com/u/139426?v=3&s=400" alt="" /></div>
    <div class="knowledge-logo"><img src="http://precision-software.com/wp-content/uploads/2014/04/jQurery.gif" alt="" /></div>
    <div class="knowledge-logo"><img src="https://www.w3.org/html/logo/downloads/HTML5_Logo_256.png" alt="" /></div>
    <div class="knowledge-logo"><img src="http://bradsknutson.com/wp-content/themes/bradsknutson/images/css3.png" alt="" /></div>
    <div class="knowledge-logo"><img src="http://www.unixstickers.com/image/data/stickers/react/badge/React-JS.sh.png" alt="" /></div>
    <div class="knowledge-logo"><img src="http://code-maven.com/img/node.png" alt="" /></div>
    <div class="knowledge-logo"><img src="https://raw.githubusercontent.com/ServiceStack/Assets/master/img/livedemos/techstacks/django-logo.png" alt="" /></div>
    <div class="knowledge-logo"><img src="https://www.virtzone.net/wp-content/uploads/2015/11/mysql-logo.png" alt="" /></div>
    <div class="knowledge-logo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png" alt="" /></div>
    <div class="knowledge-logo"><img src="http://www.unixstickers.com/image/cache/data/stickers/C/C++-unofficial.sh-600x600.png" alt="" /></div>
    <div class="knowledge-logo"><img src="https://upload.wikimedia.org/wikipedia/en/8/88/Java_logo.png" alt="" /></div>

  </div>
</div>




<div class="main-footer">
  <div class="yellow-square-button">
    <p>
      Work with us
    </p>
    <p>
      >
    </p>
  </div>
</div>
