.admin-header {
  height: 45px;
  width: 106vw;
  margin-left: -2vw;
  margin-top: -10px;
  /*padding-top: 10px;*/
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 5px #808080;
}
.admin-logo {
  height: 30px;
  width: 90px;
  background: url('../img/AllenBrothersLogoTransparent.png');
  background-size: cover;
}
.admin-header-right {
  width: 10vw;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.white-cross {
  background: white;
  height: 20px;
  position: relative;
  width: 2px;
}
.white-cross:after {
  background: white;
  content: "";
  height: 2px;
  left: -9px;
  position: absolute;
  top: 9px;
  width: 20px;
}
.add-dropdown-menu {
  width: 150px;
  border: 1px #cccccc solid;
  box-shadow: 1px 1px 3px #cccccc;
  position: absolute;
  background: white;
  z-index: 10000;
  top: 25px;
}
.add-admin-form input {
  border: 1px solid #cccccc;
  color: black;
  font-size: 14px;
  padding: 2px;
  letter-spacing: normal;
  width: 70%;
}
.dropdown-option {
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  font-family: 'Merriweather', sans-serif;
  display: flex;
  align-items: center;
  /*margin-left: 5px;*/
  position: relative;
}
.dropdown-option h4 {
  font-weight: 300;
  font-size: 12px;
}
.dropdown-option:hover {
  background: #cccccc;
}
.black-cross {
  background: black;
  height: 20px;
  position: relative;
  width: 2px;
}
.black-cross:after {
  background: black;
  content: "";
  height: 2px;
  left: -9px;
  position: absolute;
  top: 9px;
  width: 20px;
}
.white-settings-button {
  height:20px;
  width: 20px;
  background: url('../img/settings-button.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.admin-bottom-section {
  height: 100vh;
  width: 105vw;
  margin-left: -2vw;
  background: #f8f8f8;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}
.project-manager {
  height: 98vh;
  width: 60vw;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.sidebar-nav {
  width: 15vw;
  height: 100%;
}
.admin-list {
  margin-top: 5vh;
}
.admin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  padding-left: 30px;

}
.admin h3 {
  font-weight: 300;
  font-size: 14px;
  margin-left: 30px;
}
.anon-prof-pic {
  height: 20px;
  width: 20px;
}
.anon-prof-pic img {
  width: 100%;
  height: 100%;
}
.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.projects-header {
  font-weight: 300;
  border-bottom: 1px #cccccc solid;
}
.project {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*justify-content: flex-start;*/
  /*align-items: center;*/
  /*width: 100%;
  height: 30px;*/
  padding-left: 30px;
  /*overflow:visible;*/
}
.project-tab-top {
  height: 30px;
  width: 100%;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}
.project-tab-bottom {
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #cccccc;
}
.grey-folder-pic {
  height: 20px;
  width: 20px;
}
.grey-folder-pic img {
  width: 100%;
  height: 100%;
}
.project h4 {
  font-weight: 300;
  font-size: 14px;
  margin-left: 40px;
}
.new-project-link {
  display: flex;
  height: 40px;
  align-items: center;
  position: relative;
}
.new-project-form {
  width: 30vw;
  height: 300px;
  background: white;
  z-index: 10000;
  position: absolute;
  overflow: scroll;
  border: 1px #cccccc solid;
  box-shadow: 1px 1px 2px #cccccc;
  padding: 5px;
}
.new-project-form h3 {
  font-weight: 300;
  font-size: 14px;
}
.new-project-form input {
  border: 1px solid #cccccc;
  color: black;
  font-size: 14px;
  padding: 2px;
  letter-spacing: normal;
  width: 90%;

}
.project-viewer {
  background: white;
  border-right: 2px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
  width: 40vw;
  height: 100%;
  padding: 50px 3vw 0 5vw;;
}
/*.project-viewer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-viewer-header-left {
  display: flex;
  align-items: baseline;
}
.project-viewer-header-left h2 {
  font-size: 24px;
  font-weight: 300;
}
.project-viewer-header-left h6 {
  color: #cccccc;
  font-size: 12px;
  font-weight: 300;
}*/
.project-viewer-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.project-viewer-header-top {
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  height:40px;
  margin-bottom: 10px;
}
.project-viewer-header-top-left {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.project-viewer-header-top-left h2 {
  font-weight:300;
}
.project-viewer-header-top-left label {
  font-size: 12px;
  color: #cccccc;
}
.project-viewer-header-top-left input {
  opacity: 0;
}
.project-viewer-header-top-right {
  font-size: 12px;
  color: #cccccc;
}
.project-viewer-header-bottom {
  margin-bottom: 10px;
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-info h6 {
  margin: 4px 0 0 0;
  font-weight: 300;
}
.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px #f2f2f2 solid;
  margin-left: -60px;
}
.task-top {
  height: 40px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-top-left {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}
.task-top-right {
  font-size: 10px;
  color: #cccccc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
.task-top-right input {
  margin-left: 5px;
}
.task-bottom {
  height: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #cccccc;
}
.edit-task-link {
  opacity: 0;
}
.mark-complete-circle {
  height: 20px;
  width: 20px;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  border: 1px #cccccc solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.mark-complete-circle:hover {
  cursor: pointer;
  background: #cccccc;
}
.completed-circle {
  height: 20px;
  width: 20px;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  border: 1px #cccccc solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background: #cccccc;
}
.completed-circle:hover {
  cursor: pointer;
  background: white;
}
#deleted-task {
  text-decoration: line-through;
}
