input[type=text] {
  width: 50vw;
  border-bottom: 2px dashed white;
  border-top: none;
  border-right: none;
  border-left: none;
  background: none;
  padding: 15px 10px;
  color: white;
  font-family: 'Merriweather', sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 300;
}
input:focus{
  outline: none;
}

.questionnaire {
  background: url('../img/lightbulb.jpg') scroll 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: -5vw;
  margin-top: -5vh;
  height: 305vh;
  width: 106vw;
  color: white;
  font-family: 'Merriweather', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 3px;
}
.questionnaire-intro {
  width: 70vw;
}
.questionnaire-intro h2 {
  font-weight: 300;
}
.question {
  width: 50vw;
  height: 25vh;
  margin: 3vh 0 3vh 0;
}
#questionnaire-top {
  margin-top: 25vh;
}
.question h3 {
  font-weight: 300;
}
.submit-project-button {
  display: flex;
  align-items: center;
  text-align: center;
  border: 3px solid white;
  height: 70px;
  width: 200px;
  margin-top: 40px;
}
.submit-project-button:hover {
  cursor: pointer;
}
